
<div class="main posts_show">
  <div class="container">
    <div class="posts_show_item">
      <p>
        <%= @post.content%>
      </p>
      <div class="post_time">
        <%= @post.created_at%>
      </div>
      <div class="post_menus">
        <%= link_to("編集", "/posts/#{@post.id}/edit") %>
        <%= link_to("削除", "/posts/#{@post.id}/destroy",{method:"post"}) %>
      </div>
    </div>
  </div>
</div>